.tier-mahal {
  color: var(--place-tier-expensive);
}
.tier-sedang {
  color: var(--place-tier-medium);
}
.tier-murah {
  color: var(--place-tier-cheap);
}
.tier-gratis {
  color: var(--place-tier-free);
}

.place-card {
  list-style-type: none;
  margin-bottom: 10px;
  border: 1px solid var(--border);
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.place-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
